@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO: Ajustar paleta de colores. Crearemos 3 tonos para toda la aplicación. */
/* TODO: Organizar CSS. */

@layer components {
    .typographyResponsive {
      @apply text-[4rem] sm:text-[6rem] md:text-[8rem] lg:text-[9rem] xl:text-[10rem] 2xl:text-[12rem]
  }
}

html {
  scroll-behavior: smooth;
}

.general-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 1em;
  padding: 2em 0;
}

/* Letter FX */
.letter-e {
  display: inline-block;
  color: #93A5CF;
  opacity: 0;
  animation: letter-animation 8s infinite;
}

/* first-of-type > Al hacer hover en el h1 / esta clase actuará sobre el primer elemento que contenga la clase letter-e */
/* h1:hover .letter-e:first-of-type {
} */

@keyframes letter-animation {

  0%,
  100% {
    opacity: 0.5;
    color: #93A5CF;
  }

  25% {
    opacity: 1;
    color: #2e484e;
  }

  50% {
    opacity: 0.5;
    color: #93A5CF;
  }

  75% {
    opacity: 1;
    color: #51788a;
  }
}

/* Icono SVG Header */
.svg {
  opacity: 1;
  /* animation: icon-movement 2s ease-in-out infinite;   */
}

@keyframes icon-movement {
  0%,100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  50% {
    opacity: 0;
    transform: rotate(180deg) scale(0.8);
    color: #367588;
  }

  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}



/* --- Button --- 01 */
.button-one {
  transition: 0.1s;
}

.button-one:hover {
  background-color: #2e484e;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0.5em 0.5em 0em 0em rgb(243, 245, 249, 0.8);
  transform: translateY(-4px);
}

.button-one:active{
  box-shadow: 0em 0em 0em 0em rgb(243, 245, 249, 0.2);
}



/* --- Button --- 02 */
.button-two {
  color: #E4EfE9;
  transition: 0.2s;
}

.button-two:hover {
  color: #E4EfE9;
  background-color: #794b59;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: 1em 0em 0em 0em rgba(141, 143, 128, 0.2);
  transform: translateX(4px);
}

.button-two:active {
  transition: 0.1s;
  box-shadow: 0em 0em 0em 0em rgba(141, 143, 128, 0.2);
}



/* --- Button --- 03 */
.button-three {
  color: #dedede;
  background-color: #2e484e;
  border-radius: 1em;
  transition: 0.1s;
}

.button-three:hover {
  transform: rotateX(30deg) translateY(-2px);
  box-shadow: 0em 1.5em 0em 0em #1f1c1c;
}

.button-three:active {
  transform: translateY(0px);
  box-shadow: 0em 0em 0em 0em #1f1c1c, 0em 0.5em 0em 0.2em #1f1c1ca1 inset;
}



/* --- Button --- 04 */
.button-four {
  color: #dedede;
  background-color: #2e484e;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  transition: 0.2s;
}

.button-four:hover {
  border-bottom-right-radius: 2em;
  box-shadow: 0em 1em 0em 0em #1f1c1c;
}

.button-four:active {
  transition: 0.1s;
  box-shadow: 0em 0em 0em 0em #1f1c1c;
  opacity: 0.8;
}



/* --- Button --- 05 */
.button-five{
  background-color: #794b59;
  transition: 0.2s;
}

.button-five:hover{
  transform: scale3d(1.2, 1.2, 2) rotate3d(0, 0.2, 0.2, 0.50rad) ;
}



/* .animation-operation-cards {
  animation: fadeMovement linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 24%;
}

@keyframes fadeMovement {
  from {
    opacity: 0;
    transform: translateX(-128px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
} */